
/* Border Form Design
---------------------------------------------------------------------------- */

.border-form-control {
	padding: 7px 4px;
	font-size: 17px;
	background-color: transparent !important;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	border-bottom-width: 1px;
	border-color: #444;
	font-family: 'Mukta Vaani', sans-serif;
}

.customjs.btn-default:active,
.customjs.btn-default.active,
.customjs.open > .dropdown-toggle.btn-default,
.customjs.border-form-control .btn-default {
	background-color: transparent !important;
	font-weight: 300;
	border: none;
	box-shadow: none;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: inherit;
	font-size: 14px;
	color: #FFF !important;
}

.customjs.bootstrap-select .dropdown-toggle:focus,
.customjs.bootstrap-select .dropdown-menu {
	margin: 0;
	outline: 0px !important;
	outline-offset: 0px !important;
}

.border-form-control::-moz-placeholder { font-weight: 300; color: #CCC; }
.border-form-control:-ms-input-placeholder {font-weight: 300; color: #CCC; }
.border-form-control::-webkit-input-placeholder { font-weight: 300; color: #CCC; }

textarea.border-form-control {
	resize: none;
	overflow: hidden;
	word-wrap: break-word;
}

.widget .oc-item a {
	font-size: 11px;
	color: #666;
	font-weight: 500;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner.opt { padding-left: 0.8rem; }

.dropdown-toggle::after { margin-left: -10px; }

.dark .btn-light.dropdown-toggle:focus { box-shadow: none !important; }

/*  Larger Device View
-----------------------------------------------------------------*/
@media (min-width: 992px) {

	/* Slider caption */
	.swiper-pagination { bottom: 40px !important; }
	.swiper-pagination span {
		width: 70px;
		height: 6px;
	}
	.slider-caption.top-left { margin-top: -150px; }

	/* 360 degree */
	.threesixty .threesixty_images img { top: 30px; }
	.threesixty .nav_bar { top: 10px; }

	.counter-section [class^=col-]:not(:first-child) {
		border-left: 1px solid rgba(255,255,255,0.05);
		margin-bottom: 0;
	}

	.half-screen {
		position: relative;
		height: 50%;
	}

	.heading-block.hlarge h3 {
		font-size: 64px;
		line-height: 56px;
	}

	/* running car */
	.running-car {
		position: absolute;
		top: 0;
		left: 0;
		width: 659px;
	}

	.slider-text h2 { font-size: 2.5rem; }
}

#contact-me {
	position: fixed;
	z-index: 299;
	width: 40px;
	height: 40px;
	font-size: 40px;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	top: auto;
	left: auto;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
	border-radius: 2px;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: transform .3s ease;
	-o-transition: transform .3s ease;
	transition: transform .3s ease;
}

.gototop-active #contact-me {
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	transform: translateY(-50px);
}

body.side-panel-open #header.sticky-header #header-wrap { left: -300px; }

body #side-panel .widget {
	opacity: 0;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: transform .3s ease, opacity .3s ease;
	-o-transition: transform .3s ease, opacity .3s ease;
	transition: transform .3s ease, opacity .3s ease;
}

body.side-panel-open #side-panel .widget {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}