/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/*Fahrwerk Schrift */

@font-face {
    font-family: "QTypeSquare-Light";
    src: url("./fonts/QTSqLt.eot"); /* IE9 Compat Modes */
    src: url("./fonts/QTSqLt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/QTSqLt.otf") format("opentype"), /* Open Type Font */
    url("./fonts/QTSqLt.svg") format("svg"), /* Legacy iOS */
    url("./fonts/QTSqLt.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/QTSqLt.woff") format("woff"), /* Modern Browsers */
    url("./fonts/QTSqLt.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/*Handy bis 375px */
@media only screen
and (max-width : 376px) {

    .menu-top
    {
        padding: 0 8.8px !important;
    }

    .newsletter-button
    {
        font-size: 0.7rem !important;
    }
}
/*Handy ab 375px */
@media only screen
and (min-width : 377px)
and (max-width : 760px) {

    .menu-top
    {
        padding: 0 28px !important;
    }
    .newsletter-button
    {
        font-size: 0.9rem !important;
    }
}

/*Handy bis 320px */
@media only screen
and (max-width : 320px) {

    .newsletter-button
    {
        font-size: 0.7rem !important;
        padding: 0 8px !important;
    }
}


@media only screen
and (min-width : 768px)
and (max-width : 1024px) {

    .buttom-menu-3
    {
        padding-right: 10px !important;
        padding-left: 13.5% !important;
    }
}

@media only screen and (max-width: 760px) {
  .img-groesse {
	  max-width: 20% !important;
  }
    .kein-float
    {
        float: none !important;
    }

    .facebook-button
    {
        padding: 0 18px !important;
    }

    .menu-home
    {
        padding-left: 0px !important;
        padding-right: 15px !important;
    }
    .img-groesse-logo {
        width: 100% !important;
    }
    .button-menu
    {
        padding: 0 14.5% !important;
    }
    .button-menu-1
    {
        padding: 0 19% !important;
    }
}

@media only screen and (max-width: 991px) {
}

@media only screen and (min-width: 1500px) {
    .menu-schriftgroeße-desktop {
        font-size: 1.4em !important;
    }
    #padding-anpassung-1
    {
        padding: 100px 60px !important;
    }
    #padding-anpassung
    {
        padding: 100px 60px !important;
    }

    .header-icons-tel
    {
        background-color: #171a1a;
    }

    .header-icons-tel:hover
    {
        background-color: transparent;
    }
}

@media only screen and (min-width: 900px)
and (max-width: 1570px){
    .header-icons-tel
    {
        background-color: #171a1a;
    }

    .header-icons-tel:hover
    {
        background-color: transparent;
    }

    .button-menu-2
    {
        padding-left: 10px !important;
        padding-right: 0 !important;
    }
    .display-kein
    {
        display: none;
    }
}

@media only screen and (orientation: portrait) and (min-width: 900px)
and (max-width: 1570px){
    .header-icons-tel
    {
        background-color: #171a1a;
    }

    .header-icons-tel:hover
    {
        background-color: transparent;
    }
    .logo-groeße
    {
        max-width: 15% !important;
    }
}

@media only screen and (orientation: landscape) and (min-width: 900px)
and (max-width: 1570px){
    .header-icons-tel
    {
        background-color: #171a1a;
    }

    .header-icons-tel:hover
    {
        background-color: transparent;
    }
    .logo-groeße
    {
        max-width: 15% !important;
    }
}

@media only screen and (orientation: landscape) and (min-width: 1300px)
and (max-width: 1570px){
    .header-icons-tel
    {
        background-color: #171a1a;
    }

    .header-icons-tel:hover
    {
        background-color: transparent;
    }
    .logo-groeße
    {
        max-width: 30% !important;
    }
}

.secondary-color
{
    color: #171a1a !important;
}

.primary-color
{
    color: #ffd918 !important;
}

.secondary-color-background
{
    background-color: #171a1a !important;
}

.azzent-color
{
    color: #E94F37 !important;
}

.azzent-color-background
{
    background-color: #E94F37 !important;
}

.primary-color-background
{
    background-color: #ffd918 !important;
}

.header-icons
{
    background-color: #3C5A99;
}

.header-icons:hover
{
    background-color: transparent;
}

.header-icons-insta
{
    background-color: #e95950;
}

.header-icons-insta:hover
{
    background-color: transparent;
}

.white-background
{
    background-color: #fff !important;
}

.header-strich
{
    border-right: 1px solid white !important;
}

.top-links ul li.header-strich-links
{
    border-left: 1px solid white !important;
}

.top-links .header-icons-flag
{
    padding: 0;
}

.top-links .flag-icon
{
    background-size: cover;
    margin: 0 !important;
}

.scroll-down {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 50%;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    border: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9;
    opacity: .8;
}
.scroll-mouse {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 46px;
    margin: 0 auto;
    border: 2px solid #ffd918;
    border-radius: 20px;
}
.scroll-wheel {
    position: absolute;
    top: 14px;
    left: 10px;
    width: 4px;
    height: 4px;
    background-color: #ffd918;
    border-radius: 50%;
    -webkit-animation: scrollDown 2.5s infinite;
    animation: scrollDown 2.5s infinite;
}

@-webkit-keyframes scrollDown {
    0% {
        top: 10px;
        opacity: 0;
    }
    15% {
        top: 10px;
        opacity: 1;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    45% {
        top: 28px;
        opacity: 1;
    }
    100% {
        top: 28px;
        opacity: 0;
    }
}
@keyframes scrollDown {
    0% {
        top: 10px;
        opacity: 0;
    }
    15% {
        top: 10px;
        opacity: 1;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    45% {
        top: 28px;
        opacity: 1;
    }
    100% {
        top: 28px;
        opacity: 0;
    }
}



