{{ define "main" }}<section id="page-title" class="page-title-parallax page-title-dark page-title-center" style="background: url(/images/Fahrwerk_Probeshooting_2901.jpg) no-repeat center center / cover; padding: 140px 0;" data-center="background-position: 0px 50%;" data-top-bottom="background-position:0px 0px;">

    <div class="container clearfix">
        <h1>Catering & Service</h1>
    </div>

    <div class="video-wrap" style="position: absolute; top: 0; left: 0; height: 100%; z-index:1;">
        <div class="video-overlay" style="background: rgba(0,0,0,0.3);"></div>
    </div>

</section><!-- #page-title end -->

<section id="content" class="secondary-color-background">

    <div class="content-wrap notoppadding clearfix" style="padding-bottom: 0px">

        <div class="container topmargin-lg clearfix">

            <div class="divcenter" style="max-width: 960px">
                <div class="heading-block center nobottomborder">
                    <h2 class="ls2 t700">Für jeden was dabei</h2>
                    <span>Erlebe deine beste Zeit</span>
                </div>
                <div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

                    <ul class="tab-nav clearfix">
                        <li><a href="#tabs-1"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_karting.png" />RÄUME</a></li>
                        <li><a href="#tabs-2"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_karting_kids.png" />CATERING & SERVICE</a></li>
                        <li><a href="#tabs-3"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_kidsschulung.png" />PRIVAT EVENTS</a></li>
                        <li><a href="#tabs-4"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_golf.png" />FIRMEN EVENTS</a></li>
                        <li><a style="cursor: pointer" onclick="window.location.href='/#home"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_kidsschulung.png" />AKTIVITÄTEN</a></li>
                    </ul>

                    <div class="tab-container">

                        <div class="tab-content clearfix" id="tabs-1">
                            <div class="story-box description-left clearfix">
                                <div class="story-box-image">
                                    <img src="/images/fahrwerk-racing-liga.jpg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <h3 class="story-title">RÄUME</h3>
                                    <div class="story-box-content">
                                        <p style="font-size: 12px">Der Rezeptionist händigt Dir Overall und Helm aus. Langsam steigt das Adrenalin. Du lässt
                                            einen letzten Blick über die drei Ebenen der Kartbahn schweifen. Auf dem digitalen Datendisplay
                                            ist Dein Name zu lesen. Dein Kart steht bereit, Du nimmst Platz. Die Aufregung steigt.
                                            Motorengeräusche. Die Ampel zeigt Rot an. Der alltägliche Stress spielt jetzt keine Rolle
                                            mehr. Du bist konzentriert. Nur noch wenige Sekunden. Doppelrot…Grün…LOS!</p>
                                        <a href="/rooms#rooms" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich">Mehr Erfahren</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-2">
                            <div class="story-box clearfix">
                                <div class="story-box-image">
                                    <img src="/images/Outdoor-Idee-Kopie.png" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <h3 class="story-title">CATERING & SERVICE</h3>
                                    <div class="story-box-content">
                                        <p style="font-size: 12px">Auf der 80.000 m² großen Outdoor-Strecke in Schaafheim wirst Du in den Spuren von Frentzen,
                                            Vettel und Schumacher Deine Runden drehen. Die den neuesten Standards entsprechende Kartflotte
                                            scheint geradezu darauf zu warten, gefahren zu werden. Egal ob mit einem Leihkart aus unserer
                                            Flotte oder Deinem eigenen: Du hast hier alles unter Kontrolle. Außer Dein Adrenalin.</p>
                                        <a href="/catering#catering" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich">Mehr Erfahren</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-3">
                            <div class="story-box description-left clearfix">
                                <div class="story-box-image">
                                    <img src="/images/fahrwerk_kids_2.jpg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <h3 class="story-title">PRIVAT EVENTS</h3>
                                    <div class="story-box-content">
                                        <p style="font-size: 12px">Teambuilding und Mitarbeitermotivation gepaart mit Rennsport sind seit über 20
                                            Jahren unsere Passion. Nutzen Sie das FAHR•WERK als Beschleuniger für Ihr Team! Gerne
                                            beraten wir Sie ausführlich bei der Planung von Events. Wir freuen
                                            uns auf Herausforderungen und ermöglichen (fast) alles für Sie.</p>
                                        <a href="/privat#privat" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich">Mehr Erfahren</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-4">
                            <div class="story-box clearfix">
                                <div class="story-box-image">
                                    <img src="/images/fahrwerk_golf.jpg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <h3 class="story-title">FIRMEN EVENTS</h3>
                                    <div class="story-box-content">
                                        <p style="font-size: 12px">Teambuilding und Mitarbeitermotivation gepaart mit Rennsport sind seit über 20
                                            Jahren unsere Passion. Nutzen Sie das FAHR•WERK als Beschleuniger für Ihr Team! Gerne
                                            beraten wir Sie ausführlich bei der Planung von Events. Wir freuen
                                            uns auf Herausforderungen und ermöglichen (fast) alles für Sie.</p>
                                        <a href="/company#firma" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich">Mehr Erfahren</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- About Section
            ============================================= -->
    <div id="catering" class="section nomargin nobg page-section" style="padding: 150px 0">
        <div class="container clearfix">
            <div class="row clearfix">
                <div class="col-md-3 col-6 d-none d-md-block">
                    <img src="/images/Fahrwerk_Probeshooting_3069.jpg" alt="">
                </div>
                <div class="col-md-6 col-12 center" style="padding: 0 50px;">
                    <img src="/images/icons/cs.svg" alt="" height="60" style="margin-bottom: 20px">
                    <div class="heading-block bottommargin-sm">
                        <h2>Catering & Service</h2>
                    </div>
                    <p>So entstehen unsere handfesten und brutal leckeren Burger. Genieße sie mit knackigen Pommes Frites oder solo. Direkt an der Rennstrecke oder im Diner. It’s your choice.
                        Wir verwenden für unsere Burger ausschließlich Rindfleisch bester Qualität, das wir für jeden Burger frisch verarbeiten. Genauso frisch sind auch alle anderen Zutaten
                        – und das schmeckt man. Übrigens: Für ein besonderes Geschmackserlebnis empfehlen wir unsere hausgemachte BURGER•WERK-Sauce.</p>
                    <img src="/images/about/sign.png" alt="" width="200">
                </div>
                <div class="col-md-3 col-6 d-none d-md-block">
                    <img src="/images/Fahrwerk_Probeshooting_3060.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="section nopadding clearfix">
        <div class="row common-height clearfix">
            <!-- Half Section 1 -->
            <div class="col-lg-8 dark secondary-color-background">
                <img  src="/images/Zeit-2-h.jpg" alt="NextGen Framework" data-animate="fadeInLeft">
            </div>
            <!-- Half Section 2 -->
            <div class="col-lg-4 clearfix secondary-color-background">
                <div class="topmargin-sm d-none d-lg-block"></div>
                <div class="bottommargin-sm">
                    <h1 class="font-body ls1 t400">INDOOR KARTING</h1>
                </div>
                <p style="color: #777; font-size: 1.2em">Der Rezeptionist händigt Dir Overall und Helm aus. Langsam steigt das Adrenalin. Du lässt einen letzten Blick über die drei Ebenen der Kartbahn schweifen.
                    Auf dem digitalen Datendisplay ist Dein Name zu lesen. Dein Kart steht bereit, Du nimmst Platz. Die Aufregung steigt. Motorengeräusche. Die Ampel zeigt Rot an. Der alltägliche Stress
                    spielt jetzt keine Rolle mehr. Du bist konzentriert. Nur noch wenige Sekunden. Doppelrot…Grün…LOS!</p>
            </div>
        </div>
    </div>

    <div class="section nomargin nopadding clearfix">
        <div class="row common-height clearfix">
            <!-- Half Section 1 -->
            <div class="col-lg-8 dark secondary-color-background">
                <img src="/images/Zeit-2-h.jpg" alt="NextGen Framework" data-animate="fadeInLeft">
            </div>
            <!-- Half Section 2 -->
            <div class="col-lg-4 clearfix secondary-color-background">
                <div class="topmargin-sm d-none d-lg-block"></div>
                <div class="bottommargin-sm">
                    <h1 class="font-body ls1 t400">Sodikart GT5R</h1>
                </div>
                <p style="color: #777; font-size: 1.2em">Auf der Indoor-Kartbahn in Groß-Zimmern stehen Dir für den maximalen Rennspaß Karts der Marke Sodikart zur
                    Verfügung. Die neuen Sodi GT5R erreichen mit ihren 6,5 PS eine Geschwindigkeit von bis zu 65 km/h
                    und sorgen für ordentlich Schwung auf den drei verschiedenen Höhenebenen der Indoor-Kartstrecke.</p>
            </div>
        </div>
    </div>

</section>
{{ end }}