{{ define "main" }}
<section id="page-title" class="page-title-parallax page-title-dark page-title-center" style="background: url(/images/Fahrwerk_Probeshooting_2901.jpg) no-repeat center center / cover; padding: 140px 0;" data-center="background-position: 0px 50%;" data-top-bottom="background-position:0px 0px;">

    <div class="container clearfix">
        <h1>Impressum</h1>
    </div>

    <div class="video-wrap" style="position: absolute; top: 0; left: 0; height: 100%; z-index:1;">
        <div class="video-overlay" style="background: rgba(0,0,0,0.3);"></div>
    </div>

</section><!-- #page-title end -->
{{ end }}