{{ define "main" }}
<section id="page-title" class="page-title-parallax page-title-dark page-title-center" style="background: url(/images/Fahrwerk_Probeshooting_2901.jpg) no-repeat center center / cover; padding: 140px 0;" data-center="background-position: 0px 50%;" data-top-bottom="background-position:0px 0px;">

    <div class="container clearfix">
        <h1>Kids Racing</h1>
    </div>

    <div class="video-wrap" style="position: absolute; top: 0; left: 0; height: 100%; z-index:1;">
        <div class="video-overlay" style="background: rgba(0,0,0,0.3);"></div>
    </div>

</section><!-- #page-title end -->

<section id="content" class="secondary-color-background">

    <div class="content-wrap notoppadding clearfix " style="padding-bottom: 0px">

        <div id="home" class="container topmargin-lg clearfix">

            <div class="divcenter" style="max-width: 960px">
                <div class="heading-block center nobottomborder">
                    <h2 class="ls2 t700">Für jeden was dabei</h2>
                    <span>Erlebe deine beste Zeit</span>
                </div>
                <div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

                    <ul class="tab-nav clearfix">
                        <li><a href="#tabs-1"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_karting.png" />INDOOR KARTING</a></li>
                        <li><a href="#tabs-2"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_karting_kids.png" />OUTDOOR KARTING</a></li>
                        <li><a href="#tabs-3"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_kidsschulung.png" />KIDS RACING</a></li>
                        <li><a href="#tabs-4"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_golf.png" />ADVENTURE GOLF</a></li>
                        <li><a href="#tabs-5"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_golf.png" />BURGERWERK</a></li>
                        <li><a style="cursor: pointer" onclick="window.location.href='/events-choice#events"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_kidsschulung.png" />BUISNESS</a></li>
                    </ul>

                    <div class="tab-container">

                        <div class="tab-content clearfix" id="tabs-1">
                            <div class="story-box description-left clearfix">
                                <div class="story-box-image">
                                    <img src="/images/fahrwerk-racing-liga.jpg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <h3 class="story-title">INDOOR KARTING</h3>
                                    <div class="story-box-content">
                                        <p style="font-size: 12px">Der Rezeptionist händigt Dir Overall und Helm aus. Langsam steigt das Adrenalin. Du lässt
                                            einen letzten Blick über die drei Ebenen der Kartbahn schweifen. Auf dem digitalen Datendisplay
                                            ist Dein Name zu lesen. Dein Kart steht bereit, Du nimmst Platz. Die Aufregung steigt.
                                            Motorengeräusche. Die Ampel zeigt Rot an. Der alltägliche Stress spielt jetzt keine Rolle
                                            mehr. Du bist konzentriert. Nur noch wenige Sekunden. Doppelrot…Grün…LOS!</p>
                                        <div class="col-md-12">

                                            <a href="/indoor#indoor" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich float-left kein-float">Mehr Erfahren</a>
                                            <a href="/indoor#preise" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich float-right kein-float ">Preise</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-2">
                            <div class="story-box clearfix">
                                <div class="story-box-image">
                                    <img src="/images/Outdoor-Idee-Kopie.png" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <h3 class="story-title">OUTDOOR KARTING</h3>
                                    <div class="story-box-content">
                                        <p style="font-size: 12px">Auf der 80.000 m² großen Outdoor-Strecke in Schaafheim wirst Du in den Spuren von Frentzen,
                                            Vettel und Schumacher Deine Runden drehen. Die den neuesten Standards entsprechende Kartflotte
                                            scheint geradezu darauf zu warten, gefahren zu werden. Egal ob mit einem Leihkart aus unserer
                                            Flotte oder Deinem eigenen: Du hast hier alles unter Kontrolle. Außer Dein Adrenalin.</p>
                                        <div class="col-md-12">

                                            <a href="/outdoor#outdoor" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich float-left kein-float">Mehr Erfahren</a>
                                            <a href="/outdoor#preise" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich float-right kein-float ">Preise</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-3">
                            <div class="story-box description-left clearfix">
                                <div class="story-box-image">
                                    <img src="/images/fahrwerk_kids_2.jpg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <h3 class="story-title">KIDS RACING</h3>
                                    <div class="story-box-content">
                                        <p style="font-size: 12px">Die Indoor-Strecke gehört Sonntags von 12 bis 16 Uhr ausschließlich Kindern und Jugendlichen.
                                            Von 12 bis 14 Uhr bieten wir für Kart-Neulinge unsere Schulung an. Wer die Schulung erfolgreich
                                            absolviert, kann direkt im Anschluss von 14 bis 16 Uhr beim freien Training der Kinder
                                            und Jugendlichen teilnehmen.</p>
                                        <div class="col-md-12">

                                            <a href="/kids#kids" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich float-left kein-float">Mehr Erfahren</a>
                                            <a href="/kids#preise" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich float-right kein-float ">Preise</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-4">
                            <div class="story-box clearfix">
                                <div class="story-box-image">
                                    <img src="/images/fahrwerk_golf.jpg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <h3 class="story-title">ADVENTURE GOLF</h3>
                                    <div class="story-box-content">
                                        <p style="font-size: 12px">Adventure-Golf ist der einzigartige Golf-Spaß für die ganze Familie, Gruppen oder Firmen. Rund
                                            um die Kartanlage FAHR•WERK in Groß-Zimmern können Hobbygolfer zum Schläger greifen und ihre
                                            Geschicklichkeit beweisen. Der Mix aus Mini-Golf und klassischem Golf wird auf speziellem
                                            Kunstrasen gespielt – in einer eigens von Landschaftsarchitekten angelegten Gartenlandschaft.
                                            Auf 18 Bahnen gilt es, Brücken, Höhlen und einen Wasserfall zu umspielen und den Golfball
                                            mit möglichst wenigen Schlägen ins Loch zu bringen. Spiel und Spaß sind garantiert!</p>
                                        <div class="col-md-12">

                                            <a href="/golf#golf" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich float-left kein-float">Mehr Erfahren</a>
                                            <a href="/golf#preise" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich float-right kein-float ">Preise</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-5">
                            <div class="story-box description-left clearfix">
                                <div class="story-box-image">
                                    <img src="/images/BurgerWerk.jpeg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <h3 class="story-title">BURGERWERK</h3>
                                    <div class="story-box-content">
                                        <p style="font-size: 12px">So entstehen unsere handfesten und brutal leckeren Burger. Genieße sie mit knackigen Pommes Frites oder solo.
                                            Direkt an der Rennstrecke oder im Diner. It’s your choice.
                                            Wir verwenden für unsere Burger ausschließlich Rindfleisch bester Qualität,
                                            das wir für jeden Burger frisch verarbeiten. Genauso frisch sind auch alle
                                            anderen Zutaten – und das schmeckt man. Übrigens: Für ein besonderes
                                            Geschmackserlebnis empfehlen wir unsere hausgemachte BURGER•WERK-Sauce.</p>
                                        <div class="col-md-12">

                                            <a href="/burger#burger" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich float-left kein-float">Mehr Erfahren</a>
                                            <a href="/burger#price" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich float-right kein-float ">Preise</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="line"></div><div class="clear"></div>

        </div>

    </div>

    <div id="kids" class="container clearfix topmargin-lg">

        <div id="section-nextgen" class="page-section bottommargin-lg">
            <div class="row clearfix">

                <div class="col-lg-7 center">
                    <img src="/images/Fahrwerk_Indoor4.jpg" alt="NextGen Framework" data-animate="fadeInLeft">
                </div>

                <div class="col-lg-5">
                    <div class="topmargin-sm d-none d-lg-block"></div>
                    <div class="bottommargin-sm">
                        <h1 class="font-body ls1 t400">KIDS</h1>
                    </div>
                    <p style="font-size: 1.2em">Der Rezeptionist händigt Dir Overall und Helm aus. Langsam steigt das Adrenalin. Du lässt einen letzten Blick über die drei Ebenen der Kartbahn schweifen.
                        Auf dem digitalen Datendisplay ist Dein Name zu lesen. Dein Kart steht bereit, Du nimmst Platz. Die Aufregung steigt. Motorengeräusche. Die Ampel zeigt Rot an. Der alltägliche Stress
                        spielt jetzt keine Rolle mehr. Du bist konzentriert. Nur noch wenige Sekunden. Doppelrot…Grün…LOS!</p>
                </div>

            </div>
        </div>

        <div class="line"></div><div class="clear"></div>

    </div>

</section>
{{ end }}