<!-- Footer
		============================================= -->
<footer id="footer" class="footer-top-border secondary-color-background">

    <div class="container clearfix">

        <div class="clearfix center divcenter topmargin-sm" style="max-width: 700px;">
            <div class="subscribe-widget" data-loader="button">
                <div class="widget-subscribe-form-result"></div>
                <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                    <div class="input-group divcenter">
                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Email eingeben" style="border: 0; box-shadow: none; overflow: hidden;">
                        <div class="input-group-append">
                            <button href="#" class="button t400 newsletter-button" type="submit" style="border-radius: 3px;">Newsletter abonnieren</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">
            <div class="col_one_fourth">
                <img src="/images/fahrwerk-logo-02.svg" alt="" height="40" >
            </div>
            <div class="col_three_fourth col_last">
                <div class="col_one_fourth">
                    <div class="widget widget_links clearfix">
                        <h4>Buiness/Events</h4>
                        <ul>
                            <li><a href="#">Leistungen</a></li>
                            <li><a href="#">Räume</a></li>
                            <li><a href="#">Catering</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col_one_fourth">
                    <div class="widget widget_links clearfix">
                        <h4>Infos</h4>
                        <ul>
                            <li><a href="/contact">Kontakt</a></li>
                            <li><a href="/faq">Häufige Fragen</a></li>
                            <li><a href="/about#opening">Öffnungszeiten</a></li>
                            <li><a href="/about#anfahrt">Anfahrt</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col_one_fourth">
                    <div class="widget widget_links clearfix">
                        <h4>Shop</h4>
                        <ul>
                            <li><a href="#">Shop</a></li>
                            <li><a href="/delivery">Lieferbedingungen</a></li>
                            <li><a href="/terms">Widerrufsbelehrung</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col_one_fourth col_last">
                    <div class="widget widget_links clearfix">
                        <h4>Datenschutz</h4>
                        <ul>
                            <li><a href="/datenschutz">Datenschutz</a></li>
                            <li><a href="/impressum">Impressum</a></li>
                            <li><a href="/agb">AGB</a></li>
                            <li><a href="/download">Download</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="line line-sm"></div>
                <div class="col_two_third">
                    <small class="t300" style="color: #AAA">Copyright &copy; 2019 FAHRWERK.DE • FAHR•WERK • WALDSTR. 79 L • 64846 GROSS-ZIMMERN</small>
                </div>
                <div class="col_one_third col_last">
                    <div class="fright clearfix">
                        <a href="https://de-de.facebook.com/fahrwerk.kult/" class="social-icon si-mini si-rounded si-colored si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="https://www.instagram.com/fahrwerk.kart.golf/" class="social-icon si-mini si-rounded si-colored si-instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</footer><!-- #footer end -->