<!-- Top Bar
============================================= -->
<div id="top-bar" class="transparent-topbar" style="border-bottom: 1px solid white;">

    <div class="clearfix" style="background-color: #171a1a">

        <div class="fright clearfix nobottommargin">

            <!-- Top Links
            ============================================= -->
            <div class="top-links menu-top">
                <ul>
                    <li><a style="border-left: 1px solid white" class="text-white" href="#">SPRACHE</a>
                        <ul style="width: 110px">
                    {{ range $.Site.Home.AllTranslations }}
                            <li style="border-right: 1px solid white" class="header-strich-links secondary-color-background"><a class="header-icons-flag" style="font-size:30px;" href="{{ .Permalink }}"><i class="flag-icon flag-icon-{{ .Language.Lang }}"></i></a></li>
                    {{ end }}
                        </ul>
                    </li>
                    <li class="header-strich header-strich-links"><a class="header-icons" style="font-size: 18px;color: white !important;" href="https://de-de.facebook.com/fahrwerk.kult/" target="_blank"><i class="icon-facebook"></i></a></li>
                    <li class="header-strich"><a class="header-icons-insta" style="font-size: 18px; color: white !important;" href="https://www.instagram.com/fahrwerk.kart.golf/" target="_blank"><i class="icon-instagram"></i></a></li>
                    <li class="d-lg-block header-strich"><a style="color: white !important;" class="header-icons-tel" href="#"><i class="icon-call"></i> 06071-951122</a></li>
                    <li class="header-strich"><a class="header-icons-tel" style="font-size: 18px;color: white !important;" href="/shop"><i class="icon-shopping-cart"></i> </a></li>
                </ul>
            </div><!-- .top-links end -->

        </div>

    </div>

</div><!-- #top-bar end -->