<!-- Top Bar
============================================= -->
<div id="top-bar" class="transparent-topbar" style="border-bottom: 1px solid white">

    <div class="container clearfix">

        <div class="col_half fright col_last clearfix nobottommargin">

            <!-- Top Links
            ============================================= -->
            <div class="top-links">
                <ul>
                    <li id="header-strich-links" class="header-strich"><a class="header-icons" style="font-size: 18px;color: white !important;" href="https://de-de.facebook.com/fahrwerk.kult/" target="_blank"><i class="icon-facebook"></i></a></li>
                    <li class="header-strich"><a class="header-icons-insta" style="font-size: 18px; color: white !important;" href="https://www.instagram.com/fahrwerk.kart.golf/" target="_blank"><i class="icon-instagram"></i></a></li>
                    <li class="d-lg-block header-strich"><a class="header-icons-tel" href="#"><i class="icon-call"></i> 06071-951122</a></li>
                    <li class="header-strich"><a class="header-icons-tel" style="font-size: 18px" href="mailto:fahrwerk@fahrwerk.de"><i class="icon-email3"></i></a></li>
                    <li class="header-strich"><a class="header-icons-tel" style="font-size: 18px" href="mailto:fahrwerk@fahrwerk.de"><i class="icon-cart"></i></a></li>
                </ul>
            </div><!-- .top-links end -->

        </div>

    </div>

</div><!-- #top-bar end -->

<header id="header" class="static-sticky transparent-header dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo">
                <a href="/" style="max-width: 70%" data-dark-logo="/images/fahrwerk-logo-02.svg" class="standard-logo"><img src="/images/fahrwerk-logo-02.svg" alt="Fahrwerk Logo"></a>
                <a href="/" data-dark-logo="/images/fahrwerk-logo-02.svg" class="retina-logo"><img src="/images/fahrwerk-logo-02.svg" alt="Fahrwerk Logo"></a>
            </div>

            <nav id="primary-menu" class="with-arrows">

                <ul>
                    <li><a class="menu-schriftgroeße-desktop" href="#"><div>AKTIVITÄTEN</div></a>
                        <ul>
                            <li><a  href="/indoor"><div>INDOOR</div></a></li>
                            <li><a  href="/outdoor"><div>OUTDOOR</div></a></li>
                            <li><a  href="/kids"><div>KIDS</div></a></li>
                            <li><a  href="/golf"><div>ADVENTURE-GOLF</div></a></li>
                            <li><a  href="/birthday"><div>KINDERGEBURTSTAGE</div></a></li>
                        </ul>
                    </li>
                    <li><a class="menu-schriftgroeße-desktop" href="/burger"><div>DINER</div></a></li>
                    <li><a class="menu-schriftgroeße-desktop" href="#"><div>BUSINESS</div></a>
                        <ul>
                            <li><a  href="/rooms"><div>RÄUME</div></a></li>
                            <li><a  href="/catering"><div>CATERING</div></a></li>
                            <li><a  href="/privat"><div>PRIVAT EVENTS</div></a></li>
                            <li><a  href="/company"><div>FIRMEN EVENTS</div></a></li>
                        </ul>
                    </li>
                    <li><a class="menu-schriftgroeße-desktop" href="/contact"><div>KONTAKT</div></a></li>
                    <li><a class="menu-schriftgroeße-desktop" href="/contact"><div>SHOP</div></a></li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->