<div id="home" class="container clearfix">

    <div class="divcenter" style="max-width: 960px">
        <div class="heading-block center nobottomborder topmargin-sm">
            <a href="{{ ref . "/" }}">
                <img class="img-groesse-logo" style="width: 50%" src="/images/fahrwerk-logo-02.svg"
                             alt="Fahrwerk Logo">
            </a>
            <span style="color: white !important; font-size: 1.1rem !important;">{{ T "bestTime" }}</span>
            <a href="{{ ref . "/events" }}"
               class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich topmargin-sm">{{ T "businessArea" }}</a>
        </div>
        <div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

            <ul class="tab-nav clearfix" style="background-color: #171a1a">
                <li><a href="#tab-indoor"><img class="img-groesse" style="max-width: 88%"
                                           src="/images/fahrwerk_icon_karting.png"/>INDOOR KARTING</a></li>
                <li><a href="#tabs-2"><img class="img-groesse" style="max-width: 88%"
                                           src="/images/fahrwerk_icon_karting_kids.png"/>OUTDOOR KARTING</a></li>
                <li><a href="#tabs-3"><img class="img-groesse" style="max-width: 88%"
                                           src="/images/fahrwerk_icon_kidsschulung.png"/>KIDS RACING</a></li>
                <li><a href="#tabs-4"><img class="img-groesse" style="max-width: 88%"
                                           src="/images/fahrwerk_icon_golf.png"/>ADVENTURE GOLF</a></li>
                <li><a href="#tabs-5"><img class="img-groesse" style="max-width: 88%"
                                           src="/images/fahrwerk_icon_golf.png"/>BURGERWERK</a></li>
            </ul>

            <div class="tab-container content-test">

                <div class="tab-content clearfix" id="tab-indoor">
                    <div class="story-box clearfix">
                        <div class="story-box-image">
                            <img src="/images/indoor/Fahrwerk_Probeshooting_3213.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <div class="story-box-content">
                                <div class="col-md-12">

                                    <div class="col-md-6" style="float: left; padding-left: 0px">

                                        <h4 class="t400 ls0 nott" style="margin-bottom: 10px !important;">
                                            {{ T "singleDriver" }}</h4>
                                        <p><strong class="primary-color">10 Min. Qualifying +<br> 20 Min.
                                                {{ T "race" }}:</strong> <br>= 30 Min. 37,50€<br> <strong
                                                    class="primary-color">20
                                                Min. Qualifying +<br> 40 Min. {{ T "race" }}:</strong> <br>= 60 Min.
                                            65,00€</p>

                                    </div>

                                    <div class="col-md-6 nomargin menu-home" style="float: left;padding-right: 0px">

                                        <h4 class="t400 ls0 nott"
                                            style="margin-bottom: 10px !important;">{{ T "groupOffers" }}</h4>
                                        <p><strong class="primary-color">Formula Racer 45 Min.</strong> max.
                                            14 {{ T "driver" }}
                                            660 €<br>
                                            <strong class="primary-color">Formula Champ 60 Min.</strong> max.
                                            14 {{ T "driver" }}
                                            775 €</p>

                                    </div>

                                </div>

                                <div class="col-md-12" style="clear: both">

                                    <span><strong class="primary-color">{{ T "telBooking" }}</strong></span>

                                    <ul style="list-style-type:none">
                                        <li>{{ T "varyingOpening" }}</li>
                                        <li>MO – DI: {{ T "onRequest" }}</li>
                                        <li>MI - SO: {{ T "opened" }}</li>
                                    </ul>
                                </div>
                                <div class="col-md-12" style="margin-top: -20px">
                                    <div class="col_half" style="margin-bottom: 0 !important;">
                                        <a href="{{ ref . "/activities/indoor#indoor" }}" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu-1">{{ T "readMore" }}</a>
                                    </div>
                                    <div class="col_half col_last">
                                        <a href="{{ ref . "/contact" }}" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu" style="background-color: white">{{ T "sendRequest" }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content clearfix" id="tab-outdoor">
                    <div class="story-box clearfix">
                        <div class="story-box-image">
                            <img src="/images/outdoor/Fahrwerk_Outdoor3.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <div class="story-box-content">
                                <div class="col-md-12">

                                    <div class="col-md-6" style="float: left; padding-left: 0px">

                                        <h4 class="t400 ls0 nott" style="margin-bottom: 10px !important;">
                                            {{ T "singleDriver" }}</h4>
                                        <p class="nobottommargin"><strong class="primary-color">10 Min. Qualifying +<br>
                                                20 Min. {{ T "race" }}:</strong> <br>= 30 Min. 37,50€<br> <strong
                                                    class="primary-color">20 Min. Qualifying +<br> 40 Min.
                                                {{ T "race" }}:</strong> <br>= 60 Min. 65,00€</p>

                                    </div>

                                    <div class="col-md-6 bottommargin-sm menu-home"
                                         style="float: left;padding-right: 0px">

                                        <h4 class="t400 ls0 nott" style="margin-bottom: 10px !important;">
                                            {{ T "groupOffers" }}</h4>
                                        <p><strong class="primary-color">Grand Prix Racer 45 Min.</strong> max. 20
                                            {{ T "driver" }} 1000€<br>
                                            <strong class="primary-color">Grand Prix Champ 60 Min.</strong> max. 20
                                            {{ T "driver" }} 1200€</p>

                                    </div>

                                </div>

                                <div class="col-md-12" style="clear: both">
                                    <span><strong class="primary-color">{{ T "telBooking" }}</strong></span>

                                    <div class="col_half nobottommargin">
                                        <ul style="list-style-type:none">
                                            <li>{{ T "lendingKart" }}</li>
                                            <li>MO: {{ T "closed" }}</li>
                                            <li>DI – SA: 13:00 – 15:00 Uhr & 18:00 – 22:00 Uhr</li>
                                            <li>SO: 10:00 – 22:00 Uhr</li>
                                        </ul>
                                    </div>

                                    <div class="col_last nobottommargin">

                                        <ul class="nobottommargin" style="list-style-type:none">
                                            <li>{{ T "ownKart" }}</li>
                                            <li>DI – SA: 10:00 – 13:00 Uhr & 15:00 – 18:00 Uhr</li>
                                            <li>SO: 10:00 – 13:00 Uhr (alle 14 Tage)</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-md-12" style="clear: both">

                                    <div class="col_half" style="margin-bottom: 0 !important;">
                                        <a href="{{ ref . "/activities/outdoor#outdoor" }}" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu-1">{{ T "readMore" }}</a>
                                    </div>
                                    <div class="col_half col_last">
                                        <a href="{{ ref . "/contact" }}" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu" style="background-color: white">{{ T "sendRequest" }}</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content clearfix" id="tabs-3">
                    <div class="story-box clearfix">
                        <div class="story-box-image">
                            <img src="/images/fahrwerk_kids_2.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <div class="story-box-content">
                                <div class="col-md-12">

                                    <div class="col-md-6" style="float: left; padding-left: 0px">

                                        <h4 class="t400 ls0 nott" style="margin-bottom: 10px !important;">
                                            {{ T "singleDriver" }}</h4>
                                        <p><strong class="primary-color">Kids Schulung:</strong> <br>55 € {{ T "perChild" }}<br>
                                            <strong class="primary-color">Kids Time:</strong><br> 19 € pro 15 Min.
                                            <br><strong class="primary-color">Family Time:</strong><br> 19 € pro 15 Min.
                                        </p>

                                    </div>

                                    <div class="col-md-6 nomargin menu-home" style="float: left;padding-right: 0px">

                                        <h4 class="t400 ls0 nott" style="margin-bottom: 10px !important;">{{ T "birthday" }}</h4>
                                        <p><strong class="primary-color">Karting für maximal 8 Kinder 425
                                                € </strong><br>Inkl.:
                                            20 Min. Theorie,
                                            40 Min. Karting,
                                            Sturmhaube,
                                            Mitgliedskarte,
                                            Kids-Burger und Pommes
                                        </p>

                                    </div>

                                </div>

                                <div class="col-md-12" style="clear: both">
                                    <span><strong class="primary-color">Telefonische Buchung unter 06071951122 erforderlich!</strong></span>

                                    <ul style="list-style-type:none">
                                        <li>SO/Check-In Schulung: 11:15 Uhr</li>
                                        <li>SO/Kids-Time: 14:00 – 15:00 Uhr</li>
                                        <li>SO/Family-Time: 15:00 – 15:30 Uhr</li>
                                    </ul>
                                </div>
                                <div class="col-md-12">

                                    <div class="col_half" style="margin-bottom: 0 !important;">
                                        <a href="/kids#kids" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu-1">{{ T "readMore" }}</a>
                                    </div>
                                    <div class="col_half col_last">
                                        <a href="/contact" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu" style="background-color: white">{{ T "sendRequest" }}</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content clearfix" id="tabs-4">
                    <div class="story-box clearfix">
                        <div class="story-box-image">
                            <img src="/images/golf/golf.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <div class="story-box-content">
                                <div class="col-md-12">

                                    <div class="col-md-6" style="float: left; padding-left: 0px">

                                        <h4 class="t400 ls0 nott" style="margin-bottom: 10px !important;">
                                            EINZELPREISE</h4>
                                        <p><strong class="primary-color">Erwachsene:</strong> 7,50€<br> <strong
                                                    class="primary-color">Schüler & Studenten:</strong> 5,50€
                                            <br><strong class="primary-color">Kinder (bis 12 Jahre):</strong> 4,50€</p>

                                    </div>

                                    <div class="col-md-6 nomargin menu-home" style="float: left;padding-right: 0px">

                                        <h4 class="t400 ls0 nott" style="margin-bottom: 10px !important;">
                                            GRUPPENPAKETE</h4>
                                        <p><strong class="primary-color">Familienkarte:</strong><br> 22€ (2 Erw. +
                                            2.Kinder
                                            <br><strong class="primary-color">10er Karte Erw. :</strong> 55€<br></p>

                                    </div>

                                </div>

                                <div class="col-md-12" style="clear: both">
                                    <span><strong class="primary-color">Telefonische Buchung unter 06071951122 erforderlich!</strong></span>

                                    <ul style="list-style-type:none">
                                        <li>MO – DI 09:00 – 18:00 Uhr</li>
                                        <li>MI - FR 09:00 – 22:00 Uhr</li>
                                        <li>SA: 10:00 – 22:00 Uhr</li>
                                        <li>SO: 10:00 – 20:00 Uhr</li>
                                    </ul>
                                </div>
                                <div class="col-md-12">

                                    <div class="col_half" style="margin-bottom: 0 !important;">
                                        <a href="/golf#golf" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu-1">{{ T "readMore" }}</a>
                                    </div>
                                    <div class="col_half col_last">
                                        <a href="/contact" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu" style="background-color: white">{{ T "sendRequest" }}</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content clearfix" id="tabs-5">
                    <div class="story-box clearfix">
                        <div class="story-box-image">
                            <img src="/images/Burger/Burgerwerk-2.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <div class="story-box-content">
                                <div class="col-md-12">

                                    <h4 class="t400 ls0 nott" style="margin-bottom: 10px !important;">BURGERWERK</h4>

                                    <p>
                                        Wir verwenden für unsere Burger ausschließlich Rindfleisch bester Qualität, das
                                        wir für jeden Burger frisch
                                        verarbeiten. Genauso frisch sind auch alle anderen Zutaten – und das schmeckt
                                        man.</p>

                                </div>

                                <div class="col-md-12" style="clear: both">

                                    <ul style="list-style-type:none">
                                        <li><strong class="primary-color">Die Öffnungszeiten variieren je nach
                                                Buchungslage der Indoor-Kartbahn. Weitere Informationen erhaltet Ihr
                                                gerne auf Anfrage.</strong></li>
                                    </ul>
                                </div>

                                <div class="col-md-12">

                                    <div class="col_half" style="margin-bottom: 0 !important;">
                                        <a href="/burger#burger" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu-1">{{ T "readMore" }}</a>
                                    </div>
                                    <div class="col_half col_last">
                                        <a href="/contact" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu" style="background-color: white">{{ T "sendRequest" }}</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
