{{ define "main" }}
<section id="content" class="secondary-color-background">

    <div class="content-wrap notoppadding clearfix" style="padding-bottom: 0px ;background-color: #171a1a;">

        <div id="home" class="container clearfix">

            <div class="divcenter" style="max-width: 960px">
                <div class="heading-block center nobottomborder topmargin-sm">
                    <a href="/"><img class="img-groesse-logo" style="width: 50%" src="/images/fahrwerk-logo-02.svg" alt="Fahrwerk Logo"></a>
                    <span style="color: white !important; font-size: 1.1rem !important;">Erlebe deine beste Zeit</span>
                </div>
                <div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

                    <ul class="tab-nav clearfix" style="background-color: #171a1a">
                        <li><a href="#tabs-1"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_karting.png" />INDOOR KARTING</a></li>
                        <li><a href="#tabs-2"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_karting_kids.png" />OUTDOOR KARTING</a></li>
                        <li><a href="#tabs-3"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_kidsschulung.png" />KIDS RACING</a></li>
                        <li><a href="#tabs-4"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_golf.png" />ADVENTURE GOLF</a></li>
                        <li><a href="#tabs-5"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_golf.png" />BURGERWERK</a></li>
                        <li><a style="cursor: pointer" onclick="window.location.href='/events-choice#events'"><img class="img-groesse" style="max-width: 88%" src="/images/fahrwerk_icon_kidsschulung.png" />BUSINESS</a></li>
                    </ul>

                    <div class="tab-container content-test">

                        <div class="tab-content clearfix" id="tabs-1">
                            <div class="story-box clearfix">
                                <div class="story-box-image">
                                    <img src="/images/fahrwerk-racing-liga.jpg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <div class="story-box-content">
                                        <div class="col-md-12">

                                            <div class="col-md-6" style="float: left; padding-left: 0px">

                                                <h3 class="t400 ls0 nott">EINZELFAHRT</h3>
                                                <p ><strong class="primary-color">Qualifiying + Rennen:</strong> <br>30 Minuten 37,50 €<br> <strong class="primary-color">Qualifiying + Rennen:</strong> <br>60 Minuten 65,00 €</p>

                                            </div>

                                            <div class="col-md-6 nomargin menu-home" style="float: left;padding-right: 0px">

                                                <h3 class="t400 ls0 nott">GRUPPENFAHRT</h3>
                                                <p > <strong class="primary-color">14 Personen buchen:</strong><br>nur 13 bezahlen!<br>
                                                    <strong class="primary-color">5 Personen buchen:</strong><br>p.P. 1,50€ sparen!*</p>

                                            </div>

                                        </div>

                                        <div class="col-md-10" style="clear: both">
                                            <span><strong style="color: red">Wichtig: Buchung erforderlich!</strong></span>

                                            <ul style="list-style-type:none">
                                                <li>Montag - Dienstag:  auf Anfrage</li>
                                                <li>Mittwoch - Freitag:  ab 18:00 Uhr</li>
                                                <li>Samstag:  ab 16:00 Uhr</li>
                                                <li>Sonntag:  ab 12:00 Uhr</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">

                                            <div class="col_half" style="margin-bottom: 0 !important;"><a href="/indoor#indoor" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu-1">Mehr Erfahren</a></div>
                                            <div class="col_half col_last"><a href="/contact" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu" style="background-color: white">Anfrage stellen!</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-2">
                            <div class="story-box clearfix">
                                <div class="story-box-image">
                                    <img src="/images/Outdoor-Idee-Kopie.png" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <div class="story-box-content">
                                        <div class="col-md-12">

                                            <div class="col-md-6" style="float: left; padding-left: 0px">

                                                <h3 class="t400 ls0 nott">EINZELFAHRT</h3>
                                                <p ><strong class="primary-color">Qualifiying + Rennen:</strong> <br>30 Minuten 37,50 €<br> <strong class="primary-color">Qualifiying + Rennen:</strong> <br>60 Minuten 65,00 €</p>

                                            </div>

                                            <div class="col-md-6 nomargin menu-home" style="float: left;padding-right: 0px">

                                                <h3 class="t400 ls0 nott">GRUPPENFAHRT</h3>
                                                <p > <strong class="primary-color">14 Personen buchen:</strong><br>nur 13 bezahlen!<br>
                                                    <strong class="primary-color">5 Personen buchen:</strong><br>p.P. 1,50€ sparen!*</p>

                                            </div>

                                        </div>

                                        <div class="col-md-10" style="clear: both">
                                            <span><strong style="color: red">Wichtig: Buchung erforderlich!</strong></span>

                                            <ul style="list-style-type:none">
                                                <li>Montag      geschlossen</li>
                                                <li>Dienstag - Samstag:  13:00 - 15:00 &<br> 18:00 - 21:30 Uhr</li>
                                                <li>Sonntag:  13:00 - 21:30 Uhr</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">

                                            <div class="col_half" style="margin-bottom: 0 !important;"><a href="/outdoor#outdoor" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu-1">Mehr Erfahren</a></div>
                                            <div class="col_half col_last"><a href="/contact" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu" style="background-color: white">Anfrage stellen!</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-3">
                            <div class="story-box clearfix">
                                <div class="story-box-image">
                                    <img src="/images/fahrwerk_kids_2.jpg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <div class="story-box-content">
                                        <div class="col-md-12">

                                            <div class="col-md-6" style="float: left; padding-left: 0px">

                                                <h3 class="t400 ls0 nott">EINZELFAHRT</h3>
                                                <p ><strong class="primary-color">Kids Schulung:</strong> 55€<br> <strong class="primary-color">Kids Time:</strong> 15-19€
                                                    <br><strong class="primary-color">Family Time:</strong> 19€ <br><strong class="primary-color">Freies Training:</strong> 19€</p>

                                            </div>

                                            <div class="col-md-6 nomargin menu-home" style="float: left;padding-right: 0px">

                                                <h3 class="t400 ls0 nott">GEBURTSTAG</h3>
                                                <p > <strong class="primary-color">Karting:</strong> 425,00€<br></p>

                                            </div>

                                        </div>

                                        <div class="col-md-10" style="clear: both">
                                            <span><strong style="color: red">Wichtig: Buchung erforderlich!</strong></span>

                                            <ul style="list-style-type:none">
                                                <li>Sonntag: Kids-/Mini-Racer-Schulung:  <br>12:00-14:00 Uhr</li>
                                                <li>Sonntag: Freies Training:            14:00-16:00 Uhr</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">

                                            <div class="col_half" style="margin-bottom: 0 !important;"><a href="/kids#kids" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu-1">Mehr Erfahren</a></div>
                                            <div class="col_half col_last"><a href="/contact" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu" style="background-color: white">Anfrage stellen!</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-4">
                            <div class="story-box clearfix">
                                <div class="story-box-image">
                                    <img src="/images/fahrwerk_golf.jpg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <div class="story-box-content">
                                        <div class="col-md-12">

                                            <div class="col-md-6" style="float: left; padding-left: 0px">

                                                <h3 class="t400 ls0 nott">EINZELFAHRT</h3>
                                                <p ><strong class="primary-color">Erwachsene:</strong> 7,50€<br> <strong class="primary-color">Kinder bis 12 Jahre:</strong> 4,50€
                                                    <br><strong class="primary-color">Schüler & Studenten:</strong> 5,50€</p>

                                            </div>

                                            <div class="col-md-6 nomargin menu-home" style="float: left;padding-right: 0px">

                                                <h3 class="t400 ls0 nott">GRUPPENTARIF</h3>
                                                <p > <strong class="primary-color">Familienkarte (2 Erw. + 2.Kinder:</strong> 26€ , 22€<br>
                                                    <br><strong class="primary-color">Gruppenkarte(10 Personen):</strong> 55€<br></p>

                                            </div>

                                        </div>

                                        <div class="col-md-10" style="clear: both">
                                            <span><strong style="color: red">Wichtig: Buchung erforderlich!</strong></span>

                                            <ul style="list-style-type:none">
                                                <li>Montag - Dienstag:  9:00 - 18:00 Uhr</li>
                                                <li>Mittwoch - Freitag:  9:00 - 22:00 Uhr</li>
                                                <li>Samstag:  10:00 - 22:00 Uhr</li>
                                                <li>Sonntag:  10:00 - 20:00 Uhr</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">

                                            <div class="col_half" style="margin-bottom: 0 !important;"><a href="/golf#golf" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu-1">Mehr Erfahren</a></div>
                                            <div class="col_half col_last"><a href="/contact" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu" style="background-color: white">Anfrage stellen!</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-5">
                            <div class="story-box clearfix">
                                <div class="story-box-image">
                                    <img src="/images/BurgerWerk.jpeg" alt="story-image">
                                </div>
                                <div class="story-box-info">
                                    <div class="story-box-content">
                                        <div class="col-md-12">

                                            <h3 class="t400 ls0 nott">BURGERWERK</h3>

                                            <p style="font-size: 1rem">
                                                Wir verwenden für unsere Burger ausschließlich Rindfleisch bester Qualität, das wir für jeden Burger frisch
                                                verarbeiten. Genauso frisch sind auch alle anderen Zutaten – und das schmeckt man.</p>

                                        </div>

                                        <div class="col-md-10" style="clear: both">

                                            <ul style="list-style-type:none">
                                                <li><strong style="color: red">Die Öffnungszeiten variieren je nach Buchungslage der Indoor-Kartbahn. Weitere Informationen erhaltet Ihr gerne auf Anfrage.</strong></li>
                                            </ul>
                                        </div>

                                        <div class="col-12 center button-menu-2 button-menu-3" style="margin-right: -3% !important;">
                                            <a href="#" style="display: block !important;" class="button button-rounded button-color d-none d-lg-block "><i class="icon-calendar2"></i> Speisekarte </a>
                                        </div>

                                        <div class="col-md-12">

                                            <div class="col_half" style="margin-bottom: 0 !important;"><a href="/burger#burger" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu-1">Mehr Erfahren</a></div>
                                            <div class="col_half col_last"><a href="/contact" class="t300 button noleftmargin button-rounded a-tag-ohne-unterstrich button-menu" style="background-color: white">Anfrage stellen!</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="clearfix center divcenter topmargin-lg bottommargin-sm" style="max-width: 700px;">
            <div class="subscribe-widget" data-loader="button">
            <div class="widget-subscribe-form-result"></div>
            <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin" data-animate="fadeInUp">
                <div class="input-group divcenter">
                    <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Gib deine Email ein" style="border: 0; box-shadow: none; overflow: hidden;">
                    <div class="input-group-append">
                        <button href="#" class="button t400" type="submit" style="border-radius: 3px;">Newsletter abonnieren</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-on-load enable-cookie" data-target="#myModal1"></div>

    <!-- Modal -->
    <div class="modal1 mfp-hide subscribe-widget" id="myModal1">
        <div class="block dark divcenter" data-height-xl="400">
            <div style="padding: 40px;">
                <div class="widget-subscribe-form-result"></div>
                <form class="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" style="max-width: 400px; margin-top: 130px;">
                    <img width="100%" src="/images/fahrwerk-logo-02.svg" alt="Fahrwerk Logo">
                    <h4 class="primary-color" style="margin-left: 23px">WILLKOMMEN ZU DEINER BESTEN ZEIT</h4>

                </form>
            </div>
        </div>
    </div>

    </div>

</section>
{{ end }}